

<!--  LINKING WITH STYALE SHEETS --> 
<link rel="stylesheet" type="text/css" href="">
<div id="home_container">
    <h1>Time Series Data </h1>
    <div id="outer">
        <p>Name :<%=name %></p>
        <p>Origin :<%=origin %></p>
        <p>Destination:<%=destination %></p>
    </div>
</div>

<!-- LINKING WITH JS FILE -->
<script src="/JS/home.js"></script>
